/* purgecss start ignore */
@import 'fonts.css';

@tailwind base;
@tailwind components;

/* purgecss end ignore */

@import 'swiper.css';

html, body {
  @apply bg-cream text-dark-gray;
  font-size: 14px;
}

.container {
  @apply max-w-screen-2xl mx-auto;
  width: 90%;
}

.portable-text > * {
  @apply mb-4;
}

.portable-text > *:last-child {
  @apply mb-0;
}

.portable-text a:link {
  @apply underline;
}

.logo-marquee-wrapper > div > div {
  @apply flex items-center;
}

.client-logo {
  max-width: 100px;
  max-height: 70px;
}

#footer {
  background-color: 'rgb(66, 66, 66)';
}

@screen md {
  .client-logo {
    max-width: 150px;
    max-height: 105px;
  }
}

@screen xl {
  .client-logo {
    max-width: 200px;
    max-height: 140px;
  }
}

@tailwind utilities;
