/* purgecss start ignore */
@import 'fonts.css';

@tailwind base;
@tailwind components;

/* purgecss end ignore */

@import 'swiper.css';
@import 'swiper-effect-fade.css';

html, body {
  @apply bg-cream text-dark-gray;
  font-size: 14px;
}

.container {
  @apply max-w-screen-2xl mx-auto;
  width: 90%;
}

.portable-text > * {
  @apply mb-4;
}

.portable-text > *:last-child {
  @apply mb-0;
}

.portable-text a:link {
  @apply underline;
}

.logo-marquee-wrapper > div > div {
  @apply flex items-center;
}

.client-logo {
  max-width: 100px;
  max-height: 70px;
}

.swiper-wrapper {
  @apply items-stretch;
}

.swiper-pagination {
  @apply absolute bottom-8 left-0 w-full flex z-10 h-6 justify-center;
}

.swiper-pagination-bullet {
  @apply w-6 h-6 mx-1 border border-dark-gray rounded-full bg-white bg-opacity-50;
}

.swiper-pagination-bullet-active {
  @apply bg-opacity-100;
}

.project-carousel .swiper-wrapper {
  @apply block;
}

#footer {
  background-color: 'rgb(66, 66, 66)';
}

@screen md {
  .client-logo {
    max-width: 150px;
    max-height: 105px;
  }

  .project-carousel .swiper-wrapper {
    @apply flex;
  }
}

@screen lg {
  .swiper-pagination {
    @apply h-8;
  }

  .swiper-pagination-bullet {
    @apply w-8 h-8 mx-2;
  }
}

@screen xl {
  .client-logo {
    max-width: 200px;
    max-height: 140px;
  }
}

@screen 2xl {

}

@tailwind utilities;

@layer utilities {
  .underline-under {
    text-underline-position: under;
  }

  @variants responsive {
    .text-columns-2 {
      column-count: 2;
      column-gap: 2rem;
    }
    .text-columns-3 {
      column-count: 3;
      column-gap: 2rem;
    }
  }
}
